.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512dab;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background: #512dab;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.modal-title {
  color: floralwhite;
}

.modal-header {
  background-color: #512dab;
}

.modal-content {
  background-color: #d1c4e9;
}

.close {
  color: floralwhite;
}

/*  for styling from google */

textarea#styled {
  /* width: 600px;
  height: 300px; */
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.demo-5 .main {
  counter-reset: section-1, section-2, section-3, section-4;
}

.title-heading h2 {
  margin: 0.8em 0 0.5em 0;
  color: #333;
  font-weight: normal;
  font-family: "Orienta", sans-serif;
  font-size: 36px;
  line-height: 40px;
  counter-increment: section-1;
  counter-reset: section-2 section-3 section-4;
}

.btn {
  margin: 20px;
  /* padding: px auto; */
  /* margin: 10px;
  align-items: center; */
}

.logo {
  height: 200px;
  width: 200px;
  margin-left: 150px;
}
